<div class="auth-wrapper register-page">
  <div class="auth-card">
    <h2 class="auth-title">הרשמה</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="auth-form">
      <div class="form-group">
        <label class="form-label">דוא"ל:</label>
        <input type="email" formControlName="email" class="form-input">
      </div>

      <div class="form-group">
        <label class="form-label">סיסמה:</label>
        <input type="password" formControlName="password" class="form-input">
      </div>

      <div class="form-group">
        <label class="form-label">אישור סיסמה:</label>
        <input type="password"
         formControlName="confirmPassword"
          class="form-input">
      </div>

      <button type="submit" class="btn-submit" [disabled]="registerForm.invalid">להרשם</button>
      
      <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
    </form>
  </div>
</div>